{% extends "::base.html.twig" %}

{# http://www.comfychairconsulting.com/ #}
{% block banner %}
    <div class="col-xs-4 pull-right">
        <div class="col-xs-6 header-text">
            <p>
                toto<br />
                est<br />
                là, mec<br />
            </p>
        </div>
        <div class="col-xs-6 banner">
            <ul class="contact-links contact-links-site">
                <li class="icon-email">
                    <a href="mailto:info@comfychairconsulting.com" target="_blank" title="Email: Comfy Chair Consulting Inc.">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="icon-facebook">
                    <a href="https://www.facebook.com/comfychairconsulting" target="_blank" title="Facebook: Comfy Chair Consulting Inc.">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li class="icon-linkedin">
                    <a href="https://www.linkedin.com/company/comfy-chair-consulting" target="_blank" title="LinkedIn: Comfy Chair Consulting Inc.">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li class="icon-twitter">
                    <a href="https://twitter.com/comfychairdev" target="_blank" title="Twitter: Comfy Chair Consulting Inc.">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock banner %}