<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% block html %}
    <head>
        {% block head %}
            {% block meta %}
                <meta charset="UTF-8"/>
                <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="description" content="Portail PSY Senegal"/>
                <meta name="keywords" content="psy,psychologue,psychoterapeute,psychotérapeute,psycho,psychologue,psychoterapie,psychotérapie,psychologie,senegal,sénégal"/>
                <meta name="author" content="Ibrahima SOW - sowbiba@hotmail.com"/>
            {% endblock meta %}

            <title>{% block pageTitle %}Portail PSY Senegal{% block pageSubTitle %}{% endblock %}{% endblock %}</title>
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
            {% block head_style %}
                <link rel="stylesheet" href="/css/all.css" type="text/css">
            {% endblock head_style %}
        {% endblock head %}
    </head>
    <body{% block bodyAttributes %}{% endblock %}>
    {% block body %}
        {% block loader %}{% endblock loader %}

        {% block navbar %}{% endblock navbar %}

    {% block container %}
        <div id="content_container" class="{% block container_class %}container{% endblock container_class %}">
            {% block header %}{% endblock header %}

            <div class="content">
                {% block page_header %}
                    <div class="header">
                        <div class="page-header">
                            {% block banner %}{% endblock banner %}
                        </div>

                        {% block header_actions %}{% endblock header_actions %}
                    </div>
                {% endblock page_header %}

                {% block flash %}
                    {# include 'Form/flash_messages.html.twig' #}
                {% endblock flash %}

                {% block content_row %}
                    {% block content %}
                        <div class="row">
                            <div class="col-xs-12">
                                {% block content_content %}{% endblock content_content %}
                            </div>
                        </div>
                    {% endblock content %}
                {% endblock content_row %}
            </div>

            <footer>
                {% block footer %}{% endblock footer %}
            </footer>
        </div>
    {% endblock container %}

        {% block popin_confirm %}
            {#{% embed ":Components:confirm.html.twig" %}{% endembed %}#}
        {% endblock popin_confirm %}

    {% block foot_script %}
        <script src="/js/all.js"></script>
    {% endblock foot_script %}

    {% endblock body %}
    </body>
{% endblock html %}
</html>
